In [61]:
import pandas as pd
import os
import tarfile
from PIL import Image
import torchvision 
import torch.nn as nn
from torch.utils.data import TensorDataset, Dataset
from datetime import datetime

In [82]:
#Reading solar images
solar_Images=[f for f in os.listdir("img") if f.endswith(".jpg")]

#Loading images
transformed_Images=[]
for imageFilePath in solar_Images:
    image=Image.open("img\\"+imageFilePath)
    tensor_Transform=torchvision.transforms.ToTensor()
    transformed_Image=tensor_Transform(image)
    transformed_Images.append(transformed_Image)
    
images_Dataset=TensorDataset(transformed_Image)

In [92]:
#Reading flare dataset.
flareDataset=pd.read_csv('flareDataset.csv')
num_Rows, num_Columns=flareDataset.shape

#Setting everything to a universal time scale, with the 0 of time being the first image. 
initial_Time_Split=solar_Images[0].split("_")
date=initial_Time_Split[0]
time=initial_Time_Split[1]
s=""
s+=(f"{date[:4]}-{date[4:6]}-{date[6:]}")
s+=" "
s+=f"{time[:2]}:{time[2:4]}:{time[4:]}"
t0=datetime.strptime(s, '%Y-%m-%d %H:%M:%S')

deltat_Images=[]

for imageName in solar_Images:
    s_split=imageName.split("_")
    s="" 
    date=s_split[0]
    time=s_split[1]
    s+=(f"{date[:4]}-{date[4:6]}-{date[6:]}")
    s+=" "
    s+=f"{time[:2]}:{time[2:4]}:{time[4:]}"
    t=datetime.strptime(s, '%Y-%m-%d %H:%M:%S')
    deltat_Images.append((t-t0).total_seconds()/3600)
    
deltat_Flares=[]
for i in range(num_Rows):
    s_split=flareDataset.loc[i, "T_REC"].split(" ")
    s="" 
    date=s_split[0]
    time=s_split[1]
    s+=date
    s+=" "
    s+=time
    t=datetime.strptime(s, '%Y-%m-%d %H:%M:%S')
    flareDataset.loc[i, "T_REC"]=(t-t0).total_seconds()/3600
    
for i in range(num_Rows):
    if int(flareDataset.loc[i,"T_REC"])<0 or int(flareDataset.loc[i, "FlareNumber"]) !=1:
        flareDataset.drop(i, inplace=True)
   
flareDataset.reset_index(drop=True, inplace=True)

num_Rows, num_Columns=flareDataset.shape

#Normalizing flare database for gradient descent, and dropping any values that will not be useful.
flareDataset.drop("FlareNumber", axis=1, inplace=True)
flareDataset.drop("NOAA_AR", axis=1, inplace=True)
flareDataset.drop("QUALITY", axis=1, inplace=True)
flareDataset.drop("MEANPOT", axis=1, inplace=True)

means=[]
stds=[]

for col in flareDataset:
    if col!="T_REC":
        print(flareDataset[col])
        mean=flareDataset[col].mean()
        std=flareDataset[col].std()
        means.append(mean)
        stds.append(std)
        for i in range(num_Rows):
            flareDataset.loc[i, col]-=mean
            flareDataset.loc[i, col]/=std

0      45
1      15
2      11
3       3
4      14
       ..
375    58
376    58
377    70
378    70
379    70
Name: Longitude, Length: 380, dtype: int64
0      12
1      19
2      19
3      20
4      21
       ..
375     9
376     9
377     9
378     9
379     9
Name: Latitude, Length: 380, dtype: int64
0       956.465
1       837.486
2       488.687
3      2624.992
4      2887.519
         ...
375    5769.701
376    5522.014
377    5562.046
378    5072.454
379    4000.937
Name: TOTUSJH, Length: 380, dtype: float64
0      2.291500e+10
1      1.488800e+10
2      7.451400e+09
3      2.934400e+10
4      3.600500e+10
           ...
375    7.859000e+10
376    7.859300e+10
377    7.901800e+10
378    7.555800e+10
379    7.261200e+10
Name: TOTBSQ, Length: 380, dtype: float64
0      2.264995e+23
1      7.183306e+22
2      6.566911e+22
3      5.750937e+23
4      7.016926e+23
           ...
375    1.449073e+24
376    1.307202e+24
377    1.324064e+24
378    1.292672e+24
379    1.162882e+24
Name: TOTPOT, Length: 380, dtype: float64

C:\Users\Shiyan Liu\AppData\Local\Temp\ipykernel_20848\280375503.py:65: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '12.573684210526316' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  flareDataset.loc[i, col]-=mean
C:\Users\Shiyan Liu\AppData\Local\Temp\ipykernel_20848\280375503.py:65: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '-2.1657894736842103' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  flareDataset.loc[i, col]-=mean

0      2.004485e+13
1      1.812281e+13
2      1.097168e+13
3      4.529535e+13
4      4.896081e+13
           ...
375    8.285670e+13
376    7.869333e+13
377    7.924306e+13
378    7.544420e+13
379    6.169161e+13
Name: TOTUSJZ, Length: 380, dtype: float64
0       138.408
1        14.549
2         3.039
3       737.994
4       764.512
         ...
375    2579.513
376    1810.464
377    1588.055
378    1190.330
379     807.002
Name: ABSNJZH, Length: 380, dtype: float64
0      2.368424e+12
1      7.678419e+12
2      1.142786e+12
3      2.036685e+13
4      1.275279e+13
           ...
375    7.062008e+13
376    4.244859e+13
377    3.736212e+13
378    2.599231e+13
379    1.945459e+13
Name: SAVNCPP, Length: 380, dtype: float64
0      1.628852e+22
1      1.080872e+22
2      5.380702e+21
3      1.863133e+22
4      2.222252e+22
           ...
375    5.622430e+22
376    5.956309e+22
377    5.949862e+22
378    5.917355e+22
379    6.010767e+22
Name: USFLUX, Length: 380, dtype: float64
0       473.565277
1       698.431519
2       301.046051
3       836.247437
4       937.689331
          ...
375    1904.648193
376    1840.076782
377    1863.613525
378    1859.951904
379    1806.071777
Name: AREA_ACR, Length: 380, dtype: float64
0      -2765.10
1       -466.90
2       -105.34
3        293.90
4       -293.51
         ...
375    -7467.40
376    -9851.20
377   -10090.00
378    -9502.10
379   -10437.00
Name: TOTFZ, Length: 380, dtype: float64
0      3.864
1      3.814
2      3.578
3      4.835
4      4.831
       ...
375    5.047
376    4.874
377    4.854
378    4.831
379    4.689
Name: R_VALUE, Length: 380, dtype: float64
0     -0.2289
1     -0.0595
2     -0.0268
3      0.0190
4     -0.0155
        ...
375   -0.1802
376   -0.2378
377   -0.2422
378   -0.2385
379   -0.2726
Name: EPSZ, Length: 380, dtype: float64
0      20.438
1      11.587
2      34.527
3      54.850
4      55.106
        ...
375    35.955
376    31.399
377    31.738
378    31.631
379    30.712
Name: SHRGT45, Length: 380, dtype: float64
0      32.466
1      27.445
2      40.993
3      50.408
4      50.289
        ...
375    39.751
376    36.772
377    37.042
378    36.983
379    36.174
Name: MEANSHR, Length: 380, dtype: float64
0      37.655
1      35.614
2      53.933
3      60.149
4      59.714
        ...
375    45.438
376    42.856
377    43.021
378    43.638
379    42.094
Name: MEANGAM, Length: 380, dtype: float64
0       90.105
1      129.271
2      119.082
3      104.591
4      106.273
        ...
375     91.245
376     86.031
377     88.569
378     81.764
379     71.229
Name: MEANGBT, Length: 380, dtype: float64
0       90.205
1      130.159
2      117.250
3      113.452
4      116.568
        ...
375    104.540
376     99.375
377    104.689
378     97.597
379     83.605
Name: MEANGBZ, Length: 380, dtype: float64
0      39.794
1      59.940
2      77.349
3      79.945
4      77.035
        ...
375    56.592
376    53.054
377    54.267
378    50.309
379    44.017
Name: MEANGBH, Length: 380, dtype: float64
0     -0.005176
1      0.000804
2     -0.000310
3      0.024178
4      0.022435
         ...
375   -0.035639
376   -0.024100
377   -0.021587
378   -0.015436
379   -0.010398
Name: MEANJZH, Length: 380, dtype: float64
0      -583.40
1      2759.50
2       649.18
3       940.78
4      1143.40
        ...
375    3494.60
376    3508.80
377    3518.20
378    2879.60
379    2063.60
Name: TOTFY, Length: 380, dtype: float64
0     -0.163751
1      0.812155
2      0.227493
3      0.011853
4      0.109996
         ...
375   -0.159696
376   -0.065194
377   -0.099056
378   -0.127479
379   -0.109603
Name: MEANJZD, Length: 380, dtype: float64
0     -0.014576
1      0.002820
2     -0.000912
3      0.052888
4      0.042962
         ...
375   -0.059097
376   -0.040032
377   -0.035159
378   -0.027490
379   -0.019149
Name: MEANALP, Length: 380, dtype: float64
0      4211.200
1     -1494.300
2       873.570
3       529.890
4       -84.102
         ...
375   -7805.500
376   -7381.500
377   -7190.800
378   -7216.300
379   -7492.600
Name: TOTFX, Length: 380, dtype: float64
0      0.0241
1     -0.1758
2     -0.0826
3     -0.0304
4     -0.0301
        ...
375   -0.0422
376   -0.0423
377   -0.0422
378   -0.0361
379   -0.0270
Name: EPSY, Length: 380, dtype: float64
0     -0.1743
1      0.0952
2     -0.1112
3     -0.0171
4      0.0022
        ...
375    0.0942
376    0.0891
377    0.0863
378    0.0906
379    0.0979
Name: EPSX, Length: 380, dtype: float64
            T_REC  Longitude  Latitude   TOTUSJH    TOTBSQ    TOTPOT  \
0     1574.536111   0.649266 -0.471503 -1.045017 -0.797889 -0.801739
1     3255.736111  -0.899841  1.052431 -1.093227 -0.974490 -0.973462
2     6134.136111  -1.106388  1.052431 -1.234557 -1.138101 -0.980305
3     6157.936111  -1.519483  1.270136 -0.368946 -0.656445 -0.414702
4     6166.336111  -0.951478  1.487841 -0.262573 -0.509897 -0.274142
..            ...        ...       ...       ...       ...       ...
375  63707.736111   1.320545 -1.124617  0.905259  0.427010  0.555658
376  63716.136111   1.320545 -1.124617  0.804899  0.427076  0.398142
377  63720.936111   1.940188 -1.124617  0.821119  0.436426  0.416864
378  63727.536111   1.940188 -1.124617  0.622742  0.360303  0.382010
379  63738.736111   1.940188 -1.124617  0.188573  0.295488  0.237907

      TOTUSJZ   ABSNJZH   SAVNCPP    USFLUX  ...   MEANGBT   MEANGBZ  \
0   -1.061600 -0.762048 -0.985062 -0.798697  ... -0.732805 -1.486589
1   -1.109488 -0.954609 -0.726851 -0.985299  ...  2.344741  1.982563
2   -1.287658 -0.972504 -1.044661 -1.170138  ...  1.544120  0.861692
3   -0.432482  0.170119 -0.109846 -0.718918  ...  0.405461  0.531917
4   -0.341157  0.211346 -0.480097 -0.596628  ...  0.537628  0.802475
..        ...       ...       ...       ...  ...       ...       ...
375  0.503361  3.033100  2.333836  0.561227  ... -0.643227 -0.241900
376  0.399630  1.837471  0.963931  0.674922  ... -1.052928 -0.690370
377  0.413327  1.491695  0.716589  0.672726  ... -0.853499 -0.228963
378  0.318678  0.873359  0.163706  0.661657  ... -1.388216 -0.844751
379 -0.023969  0.277405 -0.154206  0.693466  ... -2.216024 -2.059658

      MEANGBH   MEANJZH     TOTFY   MEANJZD   MEANALP     TOTFX      EPSY  \
0   -1.848620 -0.168188 -0.498496 -1.139315 -0.351624  0.626592  0.643780
1    0.003864  0.187581  0.559262  4.237357  0.183664 -0.208775 -3.048195
2    1.604672  0.121295 -0.108484  1.016210  0.068811  0.137915 -1.326874
3    1.843382  1.578002 -0.016216 -0.171839  1.724248  0.087596 -0.362787
4    1.575799  1.474372  0.047897  0.368871  1.418812 -0.002302 -0.357246
..        ...       ...       ...       ...       ...       ...       ...
375 -0.303995 -1.980349  0.791862 -1.116970 -1.721520 -1.132825 -0.580722
376 -0.629324 -1.293902  0.796355 -0.596323 -1.134884 -1.070745 -0.582569
377 -0.517785 -1.144400  0.799329 -0.782881 -0.984951 -1.042824 -0.580722
378 -0.881735 -0.778494  0.597264 -0.939477 -0.748985 -1.046558 -0.468061
379 -1.460303 -0.478789  0.339066 -0.840990 -0.492333 -1.087012 -0.299992

         EPSX
0   -1.652815
1    0.915305
2   -1.051522
3   -0.154824
4    0.029089
..        ...
375  0.905776
376  0.857177
377  0.830495
378  0.871470
379  0.941034

[380 rows x 27 columns]

In [59]:
#Residual neural network for regression.

weights=torchvision.models.ResNet18_Weights.IMAGENET1K_V1
resnet=torchvision.models.resnet18(weights)

#Replacing classification layer with regression layer.
resnet.fc=nn.Linear(512, 1, bias=False)

C:\Users\Shiyan Liu\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\torchvision\models\_utils.py:135: UserWarning: Using 'weights' as positional parameter(s) is deprecated since 0.13 and may be removed in the future. Please use keyword parameter(s) instead.
  warnings.warn(